.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.image-uploader input {
  margin-bottom: 8px;
}

.image-uploader p {
  margin: 0;
  color: white;
}

.image-crop-wrapper {
  max-width: 350px;
  margin-bottom: 4px;
}
