.board {
  position: relative;
  border: solid 1px #1a1a1a;
  margin-bottom: 12px;
}

.board > button,
.board > div {
  box-sizing: border-box;
  position: absolute; 
  border: solid 1px #1a1a1a;
}

.board > button {
  border-radius: 0%;
  padding: 0;
  transition: top 200ms, left 200ms;
}

.board > button:focus {
  outline: none;
}

/* GameSuccessView */
.success-modal {
  height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.success-message {
  padding: 16px 20px 20px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000;
}

.success-message h2 {
  margin: 0;
  margin-bottom: 8px;
}

.success-message p {
  margin: 0;
  margin-bottom: 12px;
}
