.content {
  margin: 0 auto;
  padding: 60px 0 40px 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-crop-wrapper {
  max-width: 350px;
}

.preview-canvas-wrapper {
  position: relative;
}

.preview-canvas-wrapper canvas {
  border: solid 1px black;
}

.empty-tile-indicator {
  position: absolute;
  top: 0;
  left: 0; 
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.7);
}

.puzzle {
  position: relative;
  border: solid 1px black;
}

.puzzle > button,
.puzzle > div {
  box-sizing: border-box;
  position: absolute; 
  border: solid 1px black;
}

.puzzle > button {
  border-radius: 0%;
  padding: 0;
  transition: top 200ms, left 200ms;
}

.puzzle > button:focus {
  outline: none;
}

.success-modal {
  height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.success-message {
  padding: 16px 20px 20px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000;
}

.success-message h2 {
  margin: 0;
  margin-bottom: 8px;
}

.success-message p {
  margin: 0;
  margin-bottom: 12px;
}
