#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 602px;
  border: solid 1px black;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./assets/photo.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

li {
  border: solid 1px black;
  width: 200px;
  box-sizing: border-box;
  height: 200px;
}

li:nth-child(1) {
  background-color: #b53f9e;
}

.image-crop-wrapper {
  max-width: 350px;
}