.content {
  margin: 0 auto;
  padding: 60px 0 40px 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.content > h1, 
.react-select-container,
.preview-canvas-wrapper{
  margin-bottom: 24px;
}

.react-select-container {
  width: 200px;
}

.preview-canvas-wrapper {
  position: relative;
}

.preview-canvas-wrapper canvas {
  border: solid 1px #1a1a1a;
  width: 150px;
  height: 150px;
}

.empty-tile-indicator {
  position: absolute;
  top: 0;
  left: 0; 
  border: solid 1px #1a1a1a;
  background-color: rgba(0, 0, 0, 0.7);
}
